<h1>Brownsfield of Dreams</h1>

<p>Hi <%= @user.first_name %>,</p>

<p>
  Visit here to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
