<h1>Admin Dashboard</h1>
<h3>Tutorials</h3>
<table class="col col-4">
  <tr>
    <th>Title</th>
    <th>Actions</th>
  </tr>
<% @presenter.tutorials.each do |tutorial| %>
  <tr class="admin-tutorial-card">
    <td><%= link_to tutorial.title, tutorial_path(tutorial) %></td>
    <td><%= link_to "Edit", edit_admin_tutorial_path(tutorial) %>
  </tr>
<% end %>
</table>
