<% if current_user.friends.empty? %>
  <p>Link accounts to find friends.</p>
<% else %>
  <ul>
    <% current_user.friends.each do |friend| %>
      <li><%= "#{friend.first_name} #{friend.last_name}" %></li>
    <% end %>
  </ul>
<% end %>
