<div class="github-followers">
  <h3>Followers</h3>
  <%= "No followers" if @dashboard_facade.list_followers.count == 0 %>
  <% @dashboard_facade.list_followers.each do |follower| %>
    <ul>
      <li> <%=link_to "#{follower.login}", follower.url, method: :get%> </li>
      <!-- < % if follower.is_member? %> -->
      <% if member = follower.is_member %>
        <!-- < %= link_to "Add Friend", _____, method: :post  ?? %> -->
        <%= button_to "Add Friend", add_friend_path( friend_id: member.user_id )
      <% end %>
    </ul>
  <%end%>
</div>
