  <div class="github-following">
  <h3>Following</h3>
  <%= "Not following anyone" if @dashboard_facade.list_following.count == 0 %>
  <% @dashboard_facade.list_following.each do |following| %>
    <ul>
      <li> <%=link_to "#{following.login}", following.url, method: :get%> </li>
    </ul>
  <%end%>
</div>
