 <nav>
   <div class="turing-logo col md-col-5">
     <img src="https://assets.brandfolder.com/ojowqs-1xtoa8-44t2ts/view.png" alt="">
   </div>
   <div class="links nav-link col md-col-5">
     <a href="/browse">Browse</a>
     <a href="/about">About</a>
     <a href="/get_started">Get Started</a>
   </div>
   <div class="login nav-link col md-col-2">
     <a href="/login">Sign In</a>
   </div>
 </nav>
