<div class="search-bar bar">
  <div class=" search-field col md-col-3">
    <%= form_tag(root_path, method: :get, id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search" %>
      <%= submit_tag "Search"  %>
    <% end %>
  </div>
  <div class="col md-col-9">
    <div class="category">
    </div>
  </div>
</div>
