<div class="search-bar">
  <div class=" search-field col md-col-3">
    <input type="text" placeholder="Search Videos" name="Search" value="Search">
    <button type="button" name="Search">Search</button>
  </div>
  <div class="col md-col-9">
    <div class="category">
    </div>
  </div>
</div>
