<main class="tutorials">
  <% @videos.each do |video| %>
  <section class="video">
    <div class="video-thumbnail col md-col-2">
      <a href="">
        <img class"thumbnail" src= <%= "#{video.thumbnail}" %> alt="">
      </a>
    </div>

    <div class="video-description col md-col-10">
      <%= link_to video.title, video_path(video) %>
      <p> <%= video.description %> </p>
    </div>
  </section>
  <% end %>
</main>
