<%= render 'partials/search' %>
<body>
  <section class="videos col md-col-8">
    <% @videos.each do |video| %>
    <div class="video">
      <img class="thumbnail col md-col-3" src= <%= "#{video.thumbnail}" %> alt="kitten in a doughnut">
      <div class="video-description col md-col-9">
        <%= link_to video.title, controller: "video", action: "show", video_id: video.video_id, class: "title" %>
        <p class="description"><%= video.description %></p>
      </div>
    </div>
    <% end %>
  </section>
  <aside class="categories col md-col-4">
    <h1>Filters:</h1>
    <hr>
    <div class="experience filter">
      <h3>Experience Level:</h3>
      <hr>
      <input type="checkbox" name="filter" value="new"> Brand new<br>
      <input type="checkbox" name="filter" value="experienced"> Experienced<br>
      <input type="checkbox" name="filter" value="current-student"> Current Student<br>
    </div>

    <div class="stack filter">
      <h3>Stack:</h3>
      <hr>
      <input type="checkbox" name="filter" value="frontend"> Frontend<br>
      <input type="checkbox" name="filter" value="backend"> Backend<br>
    </div>

    <div class="technologies filter">
      <h3>Technologies:</h3>
      <hr>
      <input type="checkbox" name="filter" value="ruby"> Ruby<br>
      <input type="checkbox" name="filter" value="rails"> Rails<br>
      <input type="checkbox" name="filter" value="javascript"> Javascript<br>
      <input type="checkbox" name="filter" value="html"> HTML<br>
      <input type="checkbox" name="filter" value="css"> CSS<br>
    </div>
  </aside>
</body>
