<h1>Brownsfield of Dreams</h1>

<p>Hello <%= @invite.invited %>,</p>

<p>
  <%= @invite.sender_github_name %> has invited you to join <%= @app_name %>. You can create an account <%= link_to "here", @link %>.
</p>
