<body class"about-container">
  <header class="about-header">
    <h1> Turing Tutorials</h1>
  </header>
  <main class="about-main">
    <h3>This application is designed to pull in youtube information to populate tutorials from Turing School of Software and Design's youtube channel.
      It's designed for anyone learning how to code, with additional features for current students.</h3>
    </main>
</body>
