#new-video-form {
  background:#EEE;
  border-radius: 3px;
  border: 1px solid #CCC;
  padding: 10px;
  display: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 350ms ease-in-out, opacity 750ms ease-in-out;
}

#new-video-form.is-visible {
  display: block;
  height: auto;
  opacity: 1;
}
