 nav {
   background-color: rgb(61, 64, 64);
   height: 75px;
 }

 img {
   padding: 5px;
   height: 65px;
   width: 65px;
 }

 .thumbnail {
   padding: 5px;
   height: 180px;
   width: 200px;
 }
 .turing-logo {
   height: 65px;
 }

 .bar {
   height: 40px;
   background-color: rgb(238, 238, 238);
 }

 .search-field {
   padding: 2px;
 }

 .nav-link a {
   color: white;
   margin: .7em;
 }

 .nav-link {
   margin-top: 1.3em;
 }

 .links {
   text-align: right;
 }

 .login {
   text-align: right;
   padding-right: 10px;
 }

 .categories {
   padding-left: 10px;
   border: 2px solid black;
   height: 550px;
 }

 .videos {
   height: 1000px;
 }

 .video {
   margin-left: 10px;
   height: 190px;
   width: 1000px;
 }

 .video-description p {
   font-size: 12px;
 }

 .video-description {
   height: 190px;
   width: 550px;
 }

 .video-container{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 500px;
 }

 .video-view {
   max-width: 50%;
 }
