/* Title cards */
.turing-title {
  font-size: 65px;
  padding-left: 15px;
  height: 80px;
}

.turing-title p {
  margin:0
}

.title-link {
  color: rgb(103, 201,	203);
}

.home-page-title {
  margin-left: 15px;
}

.videos {
  padding-left: 15px;
}


.tutorial-description {
  padding: 10px;
}

.bar {
  height: 40px;
  background-color: rgb(238, 238, 238);
}

.search-field {
  padding: 2px;
}


.categories {
  padding-left: 10px;
  height: 550px;
  width: 275px;
}

.videos {
  height: 1000px;
}

.video {
  margin-left: 10px;
  height: 190px;
  width: 1000px;
}

.video-description p {
  font-size: 12px;
}

.video-description {
  height: 190px;
  width: 550px;
}

.video-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.video-view {
  max-width: 50%;
}

section.tutorials {
  margin: auto;
  width: 75%;
  padding: 10px;
  height:1500px;
}

.tutorial {
  height: 200px;
}

.dashboard-main {
  margin: auto;
  width: 75%;
  padding: 10px;
  height:1000px;
}

h1, h2, h3, h4, h5, h6 {
  color: #3c4040;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 200%;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 48px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 125%;
}

.videos {
  padding-left: 15px;
}

.thumbnail {
  max-height: 180px;
}

.bar {
  height: 40px;
  background-color: rgb(238, 238, 238);
}

.search-field {
  padding: 2px;
}

.videos {
  height: 1000px;
}

.video {
  margin-left: 10px;
  height: 190px;
  width: 1000px;
}

.video-description {
  height: 190px;
  width: 550px;
}

.video-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.video-view {
  max-width: 50%;
}

.tutorials {
  margin: auto;
  width: 75%;
  padding: 10px;
  height:1250px;
}

.tutorial {
  height: 200px;
}

.dashboard-main {
  margin: auto;
  width: 75%;
  padding: 10px;
  height:1000px;
}

.about-container {
  height: 1250px;
}

.about-header {
  margin: auto;
  width: 75%;
}

.about-main {
  margin: auto;
  width: 75%;
  height:500px;
}

.started-header {
  margin: auto;
  width: 75%;
}

.started-main {
  margin: auto;
  width: 75%;
  padding: 10px;
  height:500px;
}

.user-login {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 380px;
}

section.login-new form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

section.login-new form div{
  margin-bottom: 10px;
  padding: 5px;
}

section.login-new {
  background-color: grey;
  color: white;
}

.login-create {
  width: 240px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.create {
  width: 155px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.dash-bookmark {
  display: flex;
  height: 50px;
  width: 500px;
  justify-content: space-between;
}

.bookmark {
  margin-top: 10px;
}

.show-link {
  color: rgb(103, 201,	203);
}

input#position {
  height: 36px;
  width: 30px;
  margin-bottom: 6px;
}

div.title-bookmark {
  display: flex;
  justify-content: space-between;
  width: 640px;
}


.bookmarks-btn {
  margin-top: 17px;
}

#tag_cloud {
  .m {font-size: 1.2em; }
}

