nav.primary_nav {
  background-color: #FFF;
  height: 100px;
  box-shadow: 0 0 3px #6d6e71;
}

.inner-nav {
  height: 100%;
}

.logo img{
  max-height: 70px;
}

.links {
  height:100%;
}

.links a {
  font-weight: bold;
  text-transform: uppercase;
  color: #6d6e71;
}

