<header class="started-header">
  <h1> Get Started</h1>
</header>
<main class="started-main">
  <ul>
    <li>Browse tutorials from the <%= link_to "homepage", root_path %>. </li>
    <li>Filter results by selecting a filter on the side bar of the <%= link_to "homepage", root_path %>.</li>
    <li>Register to bookmark segments.</li>
    <li><%= link_to "Sign in", login_path %> with census if you are a current student for addition content.</li>
  </ul>
</main>
